* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background: #fffbf3;
	width: 90%;
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;
	padding: 16px 0;
	color: #021;
	font-family: Avenir , "Open Sans", "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , Meiryo , sans-serif;
}

section {
	margin: 32px 0;
}

dl {
	margin: 16px 0;
}

dt {
	width: 135px;
	float: left;
}

dd {
	width: calc(100% - 135px);
	margin: 0 0 0 135px;
}

#title {
	text-align: center;
	margin: 32px;
}

.theme {
	margin: 8px 0;
}

.SNS {
	border: 1px;
	border-style: none none dashed none;
}

.skill-bar {
	background-color: rgba(180, 20, 10, 0.2); /*#b43*/
	margin-bottom: 5px;
	border-radius: 8px;
}

.skill-power {
	height: 24px;
	background-color: rgba(60, 200, 50, 1); /*#4b3*/
	border-radius: 8px;
}

